<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bizcacha.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bizcacha.App.Properties.Settings>
            <setting name="Pasivo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetURL" serializeAs="String">
                <value>ftp://ftp.bizcacha.com/Public</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>LartiFTP</value>
            </setting>
            <setting name="Clave" serializeAs="String">
                <value>lrt3221</value>
            </setting>
        </Bizcacha.App.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
